@model PostViewModel
@{
    ViewData["Title"] = "Edit Post";
}
<style>
    .content_wrapper {
        padding: 20px;
        max-width: 1000px;
        margin: 0 auto;
        font-family: sans-serif;
    }
</style>

<div class="content_wrapper">
    <div class="row">
        <div class="col-6">
            <h2>@ViewData["Title"]</h2>
        </div>
    </div>
    <hr />
    <form asp-action="Edit" asp-controller="Post" method="post" enctype="multipart/form-data">
        <div class="validation-summary">
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="form-group">
            <input asp-for="Post.Id" type="hidden" />
            <label asp-for="Post.Title"></label>
            <input asp-for="Post.Title" class="form-control" />
            <span asp-validation-for="Post.Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Post.CategoryId"></label>
            <select asp-for="Post.CategoryId" class="form-select" asp-items="ViewBag.Categries">
                
            </select>
            <span asp-validation-for="Post.CategoryId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Post.Author"></label>
            <input asp-for="Post.Author" class="form-control" />
            <span asp-validation-for="Post.Author" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Post.Content"></label>
            <textarea asp-for="Post.Content" id="summernote" class="form-control" rows="5"></textarea>
            <span asp-validation-for="Post.Content" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FeatureImage"></label>
            <input asp-for="FeatureImage" type="file" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary mt-1">Update</button>
        <a class="btn btn-secondary mt-1" asp-action="Index" asp-controller="Post">Back to List</a>
    </form>
</div>

@section Scripts {
    <script src="https://cdn.tiny.cloud/1/8v7ap9no879e3vf48t9bipzno7dfbo8dgefvm9kgcttuz3nu/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
        selector: 'textarea'
        });
    </script>
}